<nav>
    <img src="https://e7.pngegg.com/pngimages/314/800/png-clipart-vehicle-wheel-and-tire-illustration-car-tire-wheel-skid-mark-wheel-tires-car-auto-part-thumbnail.png" alt="">
    <div>
        <a class="navbtn" href="/">Login</a>
        <a class="navbtn" href="/" style="margin-left: 10px;">Sign up</a>
    </div>
</nav>